.header-image-container {
  height: 200px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: -8px;
}

#city-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

table {
  border: 2px solid black;
  width: 48%;
  float: left;
  margin-top: 20px;
}

td {
  text-align: center;
}

form {
  width: 48%;
  float: right;
  margin-right: 20px;
}

.input-container {
  padding: 10px;
  width: 100%;
  position: relative;
}

input {
  width: 80%;
  position: absolute;
  right: 0;
}

.button {
  width: 100px;
  position: relative;
  float: right;
  background-color: green;
  color: white;
  border-radius: 10px;
  margin: auto;
}
