html {
  /* box-sizing: border-box; */
}

/* Scrollbar Modifications: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
.text-container::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

.text-container::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.text-container::-webkit-scrollbar-thumb {
  background-color: darkgreen; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 5px solid transparent; /* creates padding around scroll thumb */
}

.text-container {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: tran darkgreen; /* scroll thumb and track */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #3f463d;
}

.logo-container {
  float: right;
  width: 10%;
}

.exit-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #bf763c;
  margin: 1em 2em;
}

.content-container {
  position: fixed;
  width: 80vw;
  max-height: 80vh;
  max-width: 1200px;
  background-color: white;
  border: 4px solid black;
  box-shadow: 3px 3px darkgray;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.text-container {
  width: 49%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

.text-container {
  overflow-y: scroll;
  position: relative;
  width: 40vw;
}

.ignore-height {
  position: absolute;
  top: 0;
  left: 2rem;
  right: 2rem;
  height: 100%;
}

.main-image {
  float: left;
  max-height: 80vh;
  max-width: 40vw;
  width: auto;
}

@media (max-width: 800px) {
  .content-container {
    overflow-y: scroll;
    display: block;
  }

  .content-container::-webkit-scrollbar,
  .text-container::-webkit-scrollbar {
    display: none;
  }

  .ignore-height {
    text-align: justify;
    position: relative;
    width: 90%;
    overflow: hidden;
  }

  .content-container,
  .ignore-height {
    scrollbar-width: none; /* Firefox */
  }

  .main-image {
    max-width: 80vw;
    max-height: 80vh;
  }

  .text-container {
    width: 80vw;
  }
}
